<!-- start custom analytics snippet -->
<!-- Default Statcounter code for PAMLab's Github site
https://thepamlab.github.io/ -->
<script type="text/javascript">
var sc_project=13149705; 
var sc_invisible=1; 
var sc_security="db3aacf3"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/13149705/0/db3aacf3/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
<!-- end custom analytics snippet -->
